.btn {
  background-color: $btn-color;
  border: 1px solid;
  border-color: $btn-color-text-accent;
  border-radius: 12px;
  color: $btn-color-text;
  cursor: pointer;
  margin: 0;
  padding: .25rem .5rem;

  &:hover,
  &:focus {
    background-color: $btn-color-accent;
    color: $btn-color-text-accent;
  }
}

.btn-post-nav-container {
  text-align: right;
}

.btn-pagination {
  padding: 0 .5rem;
}
