.content-block {
  background: $bg-color-content;
  border-radius: 15px;
  box-shadow: 0 4px 10px 2px $shadow-color;
  margin: 1.25rem 0 0;
  padding: 1rem;

  h1 {
    font-size: 2rem;
    margin: 0;
  }
  
  h2 {
    font-size: 1.5rem;
    margin: 0;
  }

  p {
    margin: .5rem 0;
  }

  .post-details {
    font-size: .9rem;
    margin: .5rem 0;
  }
}
