* {
  line-height: 1.5;
}

body {
  background: $bg-color;
  font-family: $font-main;
  margin: 0;
}

header {
  background: $bg-color-accent;
  box-shadow: 0 4px 10px 0 $shadow-color;
}

main,
.header-container,
.footer-container {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

.footer-container {
  font-size: .9rem;
  text-align: center;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-color-accent;
  }
}
