body {
  background: $bg-color;
  font-family: $font-main;
  margin: 0;
}

header {
  background: $bg-color-accent;
  box-shadow: 0 4px 10px 0px $shadow-color;
}

main,
.header-container,
.footer-container {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

.footer-container {
  text-align: center;
  font-size: .9rem;
}

