$bg-color: #7f7f7f;
$bg-color-accent: #cccccc;
$bg-color-content: #f2f2f2;

$link-color: #155ea2;
$link-color-accent: #3a92e4;

$btn-color: #155ea2;
$btn-color-accent: #3a92e4;
$btn-color-text: #fff;
$btn-color-text-accent: #000;

$shadow-color: #4d4d4d;

$font-color: #000;
$font-color-accent: #155ea2; 

$font-main: 'Fira Sans';
$font-mono: 'Fira Sans Mono';
