$color-black:           #000;
$color-grey:            #7f7f7f;
$color-grey-very-light: #ccc;
$color-white-smoke:     #f2f2f2;
$color-white:           #fff;
$color-denim:           #155ea2;
$color-summer-sky:      #3a92e4;
$color-matterhorn:      #4d4d4d;

$bg-color:              $color-grey;
$bg-color-accent:       $color-grey-very-light;
$bg-color-content:      $color-white-smoke;

$link-color:            $color-denim;
$link-color-accent:     $color-summer-sky;

$btn-color:             $color-denim;
$btn-color-accent:      $color-summer-sky;
$btn-color-text:        $color-white;
$btn-color-text-accent: $color-black;

$shadow-color:          $color-matterhorn;

$font-color:            $color-black;
$font-color-accent:     $color-denim;

$font-main:             'Fira Sans';
$font-mono:             'Fira Sans Mono';
