$bg-color:  #b3b5bb;
$bg-color-accent: #c9cacf;
$bg-color-content: #fff;

$link-color: #145890;
$link-color-accent: #1d84d7;

$shadow-color: #4d4d4d;

$font-color: #000;

$font-main: 'Fira Sans';
$font-mono: 'Fira Sans Mono';
