---
layout: default
---

<div class="content-block">
  <div class="my-info-container">
    <div class="profile-pic">
      <img class="headshot" src="/assets/images/headshot.png" alt="Headshot">
    </div>
    <div class="my-info">
      <h1 class="my-name">Michael Gilchrist</h1>
      <h3 class="my-title">Software Engineer</h3>
    </div>
    <div class="social">
      <a href="mailto:michael@softreset.dev" target="_blank"><img src="/assets/images/mail.svg"></a>
      <a href="https://www.linkedin.com/in/michaelgilchrist" target="_blank"><img src="/assets/images/linkedin.svg"></a>
      <a href="https://github.com/michaelgilch" target="_blank"><img src="/assets/images/github.svg"></a>
      <a href="https://twitter.com/michaelgilch" target="_blank"><img src="/assets/images/twitter.svg"></a>
    </div>
  </div> 
</div>

<div class="content-block">
  {{ content }}
</div>