---
layout: default
---

<div class="post-list">
    {% for post in paginator.posts %}
        <div class="content-block">
            <!-- <h2><a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></h2> -->
            <h2>{{ post.title }}</h2>
            {% assign words = post.content | strip_html | number_of_words %}
            <p class="post-details">{{ post.date | date: "%b %d, %Y" }} &ensp; &#183; &ensp;{{ words | divided_by: 180 | plus: 1 }} min</p>
            <p>{{ post.content | strip_html | truncatewords: 35 }}</p>
            <div class="btn-post-nav-container">
                <a href="{{ post.url | prepend: site.url }}"><span class="">Read &#8594;</span></a>
            </div>
        </div>
    {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow"><span>&#8592; prev</span></a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow"><span>next &#8594;</span></a>
  {% endif %}

  <span class="page-number">{{ paginator.page }}</span>
</div>
