---
layout: default
---

<div class="content-block">
  <h1>{{ page.title }}</h1>
  {% assign words = page.content | strip_html | number_of_words %}
  <p class="post-details">{{ page.date | date: "%b %d, %Y" }} &emsp; &#183; &emsp;{{ words | divided_by: 180 | plus: 1 }} min</p>
  <p>{{ content }}</p>
</div>

<div class="content-block">
  <!-- Comments -->
  {% if site.data.comments[page.slug] %}
    <h2>
    {% if site.data.comments[page.slug].size > 1 %}
      {{ site.data.comments[page.slug] | size }}
    {% endif %}
    Comments:
    </h2>
    {% assign comments = site.data.comments[page.slug] | sort %}
    {% for comment in comments %}
      <label>
        <strong>{{ comment[1].name }}</strong>
      </label>
      <em>{{ comment[1].date | date: "%B %d, %Y" }}</em>
      <p>{{ comment[1].message | markdownify }}</p>
    {% endfor %}
  {% endif %}
</div>

<div class="content-block">
  <h2>Leave a comment</h2>
  <!-- Comments Form -->
  <form method="POST" action="{{ site.staticman_url }}">
    <input name="options[redirect]" type="hidden" value="https://example.com">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <label>Name</label>
    <input name="fields[name]" type="text"><br>
    <label>E-mail (optional)</label>
    <input name="fields[email]" type="email"><br>
    <label>Message</label>
    <textarea style="width:100%" name="fields[message]" rows="12"></textarea>
    <small>Comments will appear after moderation.</small>
    <button type="submit">Submit comment</button>
  </form>
</div>